# Example only. Do not put real TOKEN values in this file.
HEADROOM_TELEMETRY=off
HEADROOM_PROXY_HOST=127.0.0.1
HEADROOM_PROXY_PORT=8787
HEADROOM_PROFILE=review_safe
HEADROOM_PRODUCTION_PROXY=false
HEADROOM_CCR_RETRIEVE_GATE=waes_required
HEADROOM_MEMORY_CROSS_PROJECT=false
HEADROOM_LEARN_MODE=preview
HEADROOM_OUTPUT_SHAPER=false
